*{font-family: "system-ui"}
*{
  font-weight: 700;
}
input{
  border-radius:5px;
  border:1px solid black;
}
h2{
  text-align: center;
}
.text-desc{
  border-radius:5px;
  background-color: white;
  margin:auto;
}
.navbar{
  height:70px;
  width:100%;
  background-color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  position:fixed;
  top:0;
}
body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  background-color: #f8f9fd;
}
.left-side{
  color:white;
  display:flex;
  margin-left: 1em;
  align-items: center;
  justify-content:flex-start;
  width: 700px;
  
}
.Title{

}


.search{
  background-color: white;
  height:20px;
  padding:5px;
  display:flex;
  justify-content:space-between;
  width:300px;
  border-radius: 10px;
  margin-left: 1em;
  border:none;
}
.mag-img{
  border-left: 1px solid grey;
  padding-left: 10px;
}


*:focus {
  outline: none;
}

.right-side-list{
 
  display:flex;
  justify-content:space-between;
  
}
.right-side-list>li{
 font-size: 14px;
  margin:10px;
  list-style-type: none;
  color:white;
  
  
}
.right-side{
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.right-side-list>li>a{
   text-decoration:none;
   color:white;
 }
 .right-side-list>li>a:hover{
  text-decoration:underline white;
  text-underline-offset: 4px;
  border-radius: 5px;;

}
.open-right-side-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 200px;
  margin-right: 40px;
}
.open-right-side{
  margin-right: 1em;
 
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:300px;
  width:175px;
  background-color: black;
  border-radius: 5px;
  
}

.open-right-side-list>li>a{
   text-decoration:none;
   color:white;
   display: flex;
   align-items: center;
   justify-content: center;
 }


 .open-right-side-list>li{
  font-size: 14px;
   margin:10px;
   list-style-type: none;
   color:white;
  text-decoration: underline white;
  text-underline-offset: 4px;
  
   
 }
 .open-right-side-list>li>a:hover{
  
  border-radius: 5px;;

}

.Categories{
  width:11em;
  border:2px solid rgba(21, 65, 90, 0.253);
  height:auto;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;

  display: grid;
  padding:5px;
  grid-template-columns: 80px;
  position: fixed;
  
}

.catBox:not(:last-child){
  border-bottom: 1px solid rgba(5, 8, 53, 0.397);
}
.catBox{
  font-size:13px;
  background-color: white;
  height:40px;
  width:14em;
  }
  
.catBoxButt{
  background-color: white; ;
  font-size:16px;
  border:none;
}
.catBoxButt:hover{
  
  width:100%;
  border-radius:5px;
  border:none;
  cursor:pointer;
}
.grid-Jobs2{
  width:750px;
  height:auto;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
right:100px;
display:grid;
grid-template-columns: 80px 80px 80px ;
grid-auto-rows: 80px  ;
gap:200px;
row-gap: 300px;
padding:10px;
}
.grid-Jobs1{
  width:750px;
  height:auto;
margin-left: 17%;
margin-right: auto;
margin-top: 3%;
right:100px;
display:grid;
grid-template-columns: 80px 80px 80px ;
grid-template-rows: 80px  80px 80px;
gap:200px;
row-gap: 300px;
padding:10px;
}
.Job{
  border:2px solid rgba(21, 65, 90, 0.253);
  width:200px;
  height:300px;
  border-radius:10px;
  padding:2px;
  background-color: white;
  font-size: 12px;
}
.Job-Image{
  width:100%;
  height:50%;
  border-bottom: 1px solid black;
  border-radius:4px;
}

.Apply{
  border:none;
  border-radius: 3px;
  padding:4px;
  margin:5px;
  color:white;
  background-color: #e21e2b;
  font-size: 11;
}
.Details{
  border:none;
  border-radius: 3px;
  padding:4px;
  margin:5px;
  color:white;
  background-color: #027a93;
  font-size: 11;
}
.DetailBox{
  width: 270px;
  height:300px;
  border-radius: 8px;
  background-color:white;
  border:2px solid rgba(21, 65, 90, 0.253);
  right:10px;
 padding:3px;
  overflow: auto;
  word-break:normal;
  font-size: 14px;
  line-height: 20px;
  position:fixed;
  margin-left: 100px;
  top:15%;
  cursor:pointer;
}
.X-sign{
  height:15px;
  width:15px;
}
.Details:hover{
background-color: white;
color:#027a93;
border:1px solid #027a93;
cursor:pointer;
}
.Apply:hover{
  background-color: white;
  color:rgb(233, 17, 17);
  border:1px solid rgb(233, 17, 17);
  cursor:pointer;
  }
.Filters{
  height:30px;
  width:700px;
  
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-around;
}
.Filters>select,.Filters>button{
  width:200px;
  font-size:14px;
margin-left:20px;
  
}
.Filters>button{
  background-color: #01d28e;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
.Filters>button:hover{
  color: #01d28e;
  background-color:white;
  border:1px solid #01d28e ;
  border-radius:5px;
  cursor:pointer;
}
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
  
}

input[type="text"],
input[type="password"], input[type="email"]{
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
   margin: 10px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.SubmitJob{
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
  border-radius: 5px;

}
.AllSign{
  background-color: #f8f9fd;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.list-container {
  display: flex;
}

.menu-button{
    
  width:17px;
  height:17px;
  
}
.post-flex{
  display:flex;
  flex-direction: row;
}
.postDiv{
 display:flex;
 justify-content: center;
 align-items: center;
 margin-top: 10%;

 border:1px solid black;
 margin-left: auto;
 margin-right: auto;
  height:400px;
  width:700px;
  border:1px solid #01d28e;
}
.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.Sign {
  text-align: center;
  }
  .form {
    border:1px solid #01d28e;

  border-radius: 5px;
  padding: 30px;
  }

  .Sign-header {
  background-color: white;
  height:400px;
  display: flex;
 
 margin-left: auto;
 margin-right: auto;
 margin-top:10%;
  width:500px;

  font-size: calc(10px + 2vmin);
  color: black;
  }
  .search-bar{
   height:15px !important;
   border:none !important;
   margin:0px !important;
  }
.Name,.Cred,.Edu{
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .Title,.mag-img{
    display:none;
  }
  .search{
width:200px;
  }
  .search-bar{
    width:2000px;
  }
  .menu-button{
    
    width:20px;
    height:20px;
    
  }
  .right-side>ul{
    display:none;
  }
}
.LastLoad{
  margin:auto;
  width:300px;
  height:400px;
}